/* CSS declarations go here */

/*Home Page CSS */

/*h1.homeHeader {
    text-align: center;
}*/

h1.snapShotHeading {
    text-align: center;
}

h1.jumboHeader {
    text-align: center;
}

a.homelinks {
  text-align: center;
}

i.calculator.icon {
    position: absolute;
    top: 45%;
    left: 45%;

}
.ui.icon.input.endDate.form-group.datetimepicker {
    margin-left: 34px;
}
.ui.center.aligned.container.segment.homeHeader {
    background-color: grey;
}
form.ui.left.aligned.form.submitItem {
    min-height: 1000px;
}
.ui.button.tiny.red.newCategory {
    margin-top: 10px;
    float: right;
}